.ImageViewer {
  position: fixed;
  right: 300px;
  left: 0px;
  top: 36px;
  bottom: 0px;
  overflow: auto;
}

.ImageViewer__Content {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageViewer__Image {
  background-color: #fff;
  transition: 0.3s transform ease-in-out;
}

.ImageViewer__Image img {
  display: block;
  image-rendering: pixelated;
  -webkit-user-drag: none;
}
