{
  "extends": ["plugin:@typescript-eslint/recommended", "react-app", "prettier", "plugin:react-hooks/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["babel"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": [
          "node_modules",
          "src",
          "src/components",
          "src/renderer",
          "appData",
          "./"
        ]
      }
    }
  },
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-wrap-multilines": 0,
    "prefer-destructuring": 0,
    "no-underscore-dangle": 0,
    "no-bitwise": 0,
    "no-plusplus": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-await-in-loop": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-empty-function": 0,
    "camelcase": [
      "error",
      {
        "allow": [
          "UNSAFE_componentWillReceiveProps",
          "icon_path",
          "bug_link_text"
        ]
      }
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ],
    "no-unused-vars": "off",
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "useDebouncedCallback"
      }
    ]
  },
  "overrides": [
    {
      "files": ["src/renderer/**", "src/components/**", "src/store/**", "src/app/**"],
      "rules": {
        "@typescript-eslint/no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["main/*"],
                "message": "Can't use main/* imports within renderer!",
                "allowTypeImports": true
              },
              {
                "group": ["lib/*"],
                "message": "Can't use lib/* imports within renderer!",
                "allowTypeImports": true
              },
              {
                "group": ["../*"],
                "message": "Usage of relative parent imports is not allowed",
                "allowTypeImports": true
              },
              {
                "group": ["renderer/components/*"],
                "message": "Replace renderer/components/ with just components/"
              },
              {
                "group": ["components/ui/*"],
                "message": "Replace components/ui/ with just ui/"
              }
            ],
            "paths": ["fs", "fs-extra", "electron-settings", "electron"]
          }
        ]
      }
    },
    {
      "files": ["src/renderer/lib/api/setup.ts"],
      "rules": {
        "@typescript-eslint/no-restricted-imports": [
          "error",
          {
            "paths": ["fs", "fs-extra"]
          }
        ]
      }
    },    
    {
      "files": ["src/main/**", "src/lib/**"],
      "rules": {
        "@typescript-eslint/no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["renderer/*"],
                "message": "Can't use renderer/* imports within main process!",
                "allowTypeImports": true
              },
              {
                "group": ["../*"],
                "message": "Usage of relative parent imports is not allowed",
                "allowTypeImports": true
              }
            ],
            "paths": ["react", "react-dom"]
          }
        ]
      }
    },
    {
      "files": ["src/shared/**"],
      "rules": {
        "@typescript-eslint/no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["main/*"],
                "message": "Can't use main/* imports within shared modules!",
                "allowTypeImports": true
              },
              {
                "group": ["lib/*"],
                "message": "Can't use lib/* imports within shared modules!",
                "allowTypeImports": true
              },
              {
                "group": ["renderer/*"],
                "message": "Can't use renderer/* imports within shared modules!",
                "allowTypeImports": true
              },
              {
                "group": ["../*"],
                "message": "Usage of relative parent imports is not allowed",
                "allowTypeImports": true
              }
            ],
            "paths": [
              "react",
              "react-dom",
              "fs",
              "fs-extra",
              "electron-settings"
            ]
          }
        ]
      }
    }
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__non_webpack_require__": true,
    "COMMITHASH": true,
    "VERSION": true
  }
}
