/node_modules
out
.eslintcache
src/data/src/gb/build
src/data/src/gb/include/banks.h
src/data/src/gb/src/data
src/data/output
coverage
.cache
.parcelCache
/.vscode
/dist
.DS_Store
test/projects/*/build
buildTools/*/gbdk

# Webpack
.webpack/

# IDEs
.idea/

# Storybook
*storybook.log

# Performance   
isolate*-v8.log
flamegraph.html

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
