.Alert {
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

.Alert-Warning {
  background-color: #ffc107;
  color: #000;
}

.AlertItem {
  border-bottom: 1px solid #ffa000;
  padding: 5px 0px;
}

.AlertItem:first-child {
  padding-top: 0;
}

.AlertItem:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
