.LabelButton {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--menu-bg-color);
  border: 2px solid #ccc;
  opacity: 0.9;
}

.LabelButton:hover {
  opacity: 1;
  transform: scale(1.25);
}

.LabelButton--Red {
  background: #e20e2b;
}

.LabelButton--Orange {
  background: #ff5722;
}

.LabelButton--Yellow {
  background: #ffc107;
}

.LabelButton--Green {
  background: #4caf50;
}

.LabelButton--Blue {
  background: #03a9f4;
}

.LabelButton--Purple {
  background: #9c27b0;
}

.LabelButton--Gray {
  background: #9e9e9e;
}
