.Menu {
  position: absolute;
  color: var(--main-text-color);
  background-color: var(--menu-bg-color);
  border-radius: 4px;
  padding: 4px 0;
  overflow: auto;
  /* box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 0 1px rgba(150, 150, 150, 0.3),
    0 4px 11px hsla(0, 0%, 0%, 0.1);
  min-width: 60px;
  z-index: 1001;
  font-size: 13px;
  line-height: normal;
  font-weight: normal;
  user-select: none;
}

.Menu--Right {
  right: 0;
}

.MenuItem {
  padding: 6px 10px;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.MenuItem:hover {
  background-color: var(--menu-hover-color);
}

.MenuDivider {
  height: 1px;
  background-color: var(--menu-hover-color);
}

.MenuOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
}

.Platform__win32 .Menu {
  border-radius: 0;
  border: 1px solid var(--toolbar-bottom-color);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.3);
}
