.Modal {
  display: flex;
  position: fixed;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: start;
  overflow: auto;
}

.Modal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.Modal__Content {
  position: relative;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 700px;
  width: 100%;
  z-index: 1;
  margin: 20px;
}

.Modal__Content h1 {
  margin-top: 0;
}

.Modal__Close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Modal__Close svg {
  width: 16px;
  padding: 10px;
}
