.Modal {
  background-color: var(--main-bg-color);
  border-radius: 4px;
  position: fixed;
  z-index: 1001;
  min-width: 200px;
  box-shadow: 0 0 0 1px rgba(150, 150, 150, 0.3),
    0 4px 11px hsla(0, 0%, 0%, 0.1);
}

.ModalFade {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
}

.ModalContent {
  padding: 10px;
}
