.PageHeader {
  padding: 40px;
}

.PageHeader h1 {
  display: block;
  margin-top: 0px;
  height: 30px;
  line-height: 30px;
  padding: 5px 0;
  margin: 0px auto;
  margin-bottom: 20px;
  max-width: 1000px;
}

.PageHeader h1 button {
  margin-left: 10px;
}

.PageHeader h1 input {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  border: 0px;
  font-size: 1em;
  font-weight: bold;
}

.PageHeader p {
  margin: 10px auto;
  max-width: 1000px;
}

.PageHeader p:last-child {
  margin-bottom: 0px;
}
