.Toolbar {
  height: 37px;
  flex-shrink: 0;
  background: linear-gradient(
    to bottom,
    var(--toolbar-top-color) 0%,
    var(--toolbar-bottom-color) 100%
  );
  border-bottom: 1px solid var(--toolbar-border-color);
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
  z-index: 1;
  -webkit-app-region: drag;
}

.Platform__darwin .Toolbar {
  padding-left: 80px;
}

.full-screen .Toolbar {
  padding-left: 10px;
}

.App--Blur .Toolbar {
  background: var(--toolbar-inactive-color);
  border-bottom: 1px solid var(--toolbar-inactive-border-color);
}

.Platform__win32 .Toolbar,
.Platform__win32 .App--Blur .Toolbar {
  background: var(--toolbar-background-color);
}

.Toolbar__Spacer {
  flex: 1;
}

.Toolbar__FixedSpacer {
  width: 20px;
  flex-shrink: 0;
}

.Toolbar__Button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border-radius: 4px;
  height: 24px;
  min-width: 24px;
  background: linear-gradient(
    to bottom,
    var(--toolbar-button-top-color) 0%,
    var(--toolbar-button-bottom-color) 100%
  );
  border: 1px solid var(--toolbar-button-border-color);
  border-top: 1px solid var(--toolbar-button-border-top-color);
  box-shadow: 0px 1px var(--toolbar-button-shadow-color);
  color: var(--toolbar-button-text-color);
  white-space: nowrap;
  padding: 0px 8px;
  overflow: hidden;
  -webkit-app-region: no-drag;
}

.Toolbar__Button svg {
  fill: var(--toolbar-button-text-color);
}

.App--Blur .Toolbar__Button {
  opacity: 0.5;
  box-shadow: none;
}

.Platform__win32 .Toolbar__Button {
  box-shadow: none;
  border-radius: 2px;
  background: var(--toolbar-button-top-color);
  border-color: var(--toolbar-bottom-color);
}

.Toolbar__Button div {
  flex-grow: 1;
}

.Toolbar__Button small {
  display: inline-block;
  padding-left: 5px;
  font-size: 12px;
}

.Toolbar__DropdownButton {
  position: relative;
}

.Toolbar__Button + .Toolbar__Button,
.Toolbar__DropdownButton + .Toolbar__Button,
.Toolbar__Button + .Toolbar__DropdownButton {
  margin-left: 5px;
}

.Toolbar__DropdownButton .Toolbar__DropdownButton__Triangle {
  width: 10px;
  margin-left: 5px;
  flex-grow: 0;
}

.Toolbar__DropdownButton
  > .Toolbar__Button
  .Toolbar__DropdownButton__Triangle
  > svg {
  transform: rotate(180deg);
  width: 10px;
  height: 10px;
}

.Toolbar__Button:active {
  background: linear-gradient(
    to bottom,
    var(--toolbar-button-active-top-color) 0%,
    var(--toolbar-button-active-bottom-color) 100%
  );
}

.Toolbar__Button svg {
  width: 17px;
  height: 17px;
}

.Toolbar__Button .Toolbar__Button {
  background: var(--toolbar-button-nested-color);
  border-radius: 20px;
  height: 16px;
  min-width: 16px;
  line-height: 16px;
  box-shadow: none;
  border: 0;
  padding: 0;
}

.Toolbar__Button .Toolbar__Button:first-child {
  margin-right: 10px;
}

.Toolbar__Button .Toolbar__Button:last-child {
  margin-left: 10px;
}

.Toolbar__Button .Toolbar__Button svg {
  width: 8px;
  height: 8px;
}

.Toolbar__Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px;
}
