.EditorSidebarWrapper {
  right: 0;
  position: fixed;
  top: 38px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
}

.EditorSidebarDragHandle {
  width: 16px;
  height: 100vh;
  position: fixed;
  margin-left: -8px;
  cursor: ew-resize;
}

.EditorSidebar {
  background-color: var(--sidebar-bg-color);
  border-left: 1px solid var(--sidebar-edge-color);
  overflow: auto;
  overflow-x: hidden;
  padding: 0px;
  box-sizing: border-box;
  transition: right 0.3s ease-in-out;
}

.EditorSidebar--Open {
  right: 0px;
}

.EditorSidebar h2 {
  clear: both;
  height: 36px;
  line-height: 36px;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid var(--sidebar-border-color);
  border-top: 1px solid var(--sidebar-border-color);
  text-align: left;
  padding: 0 10px;
}

.EditorSidebar h2:first-child {
  border-top: 0px solid var(--sidebar-border-color);
}

.EditorSidebar label.HalfWidth {
  width: 50%;
}

.EditorSidebar input[type="checkbox"] {
  height: auto;
}

.EditorSidebar input:focus,
.EditorSidebar textarea:focus,
.EditorSidebar select:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px #03a9f4;
}

.EditorSidebar__Save {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.EditorSidebar__Padding {
  padding: 10px;
}
.EditorSidebar__DeleteButton {
  float: right;
  fill: #fff;
}
.EditorSidebar__DeleteButton svg {
  width: 10px;
  height: 10px;
  fill: var(--main-text-color);
}
.EditorSidebar .Checkbox {
  width: auto;
  display: inline-block;
}

.EditorSidebar ul {
  margin: 0;
  padding: 5px 0;
  background: var(--script-editor-bg-color);
  list-style-type: none;
}

.EditorSidebar ul > li {
  padding: 5px 10px;
}

.EditorSidebar ul > li:hover {
  background: var(--sidebar-bg-color);
}

.EditorSidebar .Navigation__Error {
  color: rgb(243, 0, 0);
}

.EditorSidebar__Icon {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  margin-right: 10px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.EditorSidebar__Icon svg {
  width: 14px;
  height: 14px;
  fill: var(--main-text-color);
  opacity: 0.7;
}
