.SidebarHeading {
  height: 36px;
  line-height: 36px;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid var(--sidebar-border-color);
  border-top: 1px solid var(--sidebar-border-color);
  text-align: left;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.SidebarHeading__FluidSpacer {
  flex: 1;
}
