.Sidebar {
  display: flex;
  flex-direction: row;
}

.Sidebar__DragHandle {
  width: 12px;
  height: 100vh;
  position: fixed;
  margin-left: -2px;
  cursor: ew-resize;
}

.Sidebar__Content {
  background-color: var(--sidebar-bg-color);
  border-left: 1px solid var(--sidebar-edge-color);
  overflow: auto;
  overflow-x: hidden;
  padding: 0px;
  box-sizing: border-box;
  transition: right 0.3s ease-in-out;
}

.Sidebar__Content--Open {
  right: 0px;
}

.Sidebar__Content h2 {
  clear: both;
  height: 36px;
  line-height: 36px;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid var(--sidebar-border-color);
  border-top: 1px solid var(--sidebar-border-color);
  text-align: left;
  padding: 0 10px;
}

.Sidebar__Content h2:first-child {
  border-top: 0px solid var(--sidebar-border-color);
}

.Sidebar__Content label.HalfWidth {
  width: 50%;
}

/* .Sidebar__Content input[type="checkbox"] {
  height: auto;
} */

/* .Sidebar__Content input:focus,
.Sidebar__Content textarea:focus,
.Sidebar__Content select:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px #03a9f4;
} */

.Sidebar__Content__Save {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.Sidebar__Content__Padding {
  padding: 10px;
}
.Sidebar__Content__DeleteButton {
  float: right;
  fill: #fff;
}
.Sidebar__Content__DeleteButton svg {
  width: 10px;
  height: 10px;
  fill: var(--main-text-color);
}
.Sidebar__Content .Checkbox {
  width: auto;
  display: inline-block;
}

.Sidebar__Content ul {
  margin: 0;
  padding: 5px 0;
  background: var(--script-editor-bg-color);
  list-style-type: none;
}

.Sidebar__Content ul > li {
  padding: 5px 10px;
}

.Sidebar__Content ul > li:hover {
  background: var(--sidebar-bg-color);
}

.Sidebar__Content .Navigation__Error {
  color: rgb(243, 0, 0);
}

.Sidebar__Content__Icon {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  margin-right: 10px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Sidebar__Content__Icon svg {
  width: 10px;
  height: 10px;
  fill: var(--main-text-color);
  opacity: 0.7;
}

.Sidebar--TwoColumn .Sidebar__Content {
  display: flex;
}

.Sidebar--TwoColumn .Sidebar__Content .SidebarColumn {
  flex-shrink: 0;
  width: 50%;
  overflow: auto;
  border-left: 1px solid var(--sidebar-edge-color);
}

.Sidebar--TwoColumn .Sidebar__Content .SidebarColumn:first-child {
  border-left: 0;
}

.Sidebar--TwoColumn .Sidebar__Content .SidebarColumn:last-child {
  margin-top: -1px;
}

.SidebarHeading {
  height: 36px;
  line-height: 36px;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid var(--sidebar-border-color);
  border-top: 1px solid var(--sidebar-border-color);
  text-align: left;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.SidebarColumn > .SidebarHeading:first-child {
  border-top: 0;
}

.SidebarHeading__FluidSpacer {
  flex: 1;
}

.SidebarTabs {
  height: 36px;
  line-height: 36px;
  margin: 0px;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid var(--sidebar-border-color);
  border-top: 1px solid var(--sidebar-border-color);
  text-align: left;
  padding: 0;
  padding-right: 10px;
  display: flex;
  align-items: center;
  padding-top: 0px;
}

.SidebarTabs--Secondary {
  padding-top: 0px;
  padding-bottom: 2px;
  border-top: 1px solid var(--input-bg-color);
  margin-top: -2px;
  background: var(--input-bg-color);
  border-top: 1px solid var(--sidebar-border-color);
}

.SidebarTabs--Small {
  padding-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
  height: 26px;
  line-height: 21px;
  margin: 0px;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
}

.SidebarTabs__FluidSpacer {
  flex: 1;
}

.SidebarTabs__Container {
  display: flex;
  overflow: hidden;
  height: 36px;
  padding-top: 1px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: -2px;
}

.SidebarTabs--Small .SidebarTabs__Container {
  height: 26px;
  margin-top: 0px;
}

.SidebarTabs--Small .SidebarTabs__Tab:first-child {
  margin-left: 1px;
}

.SidebarTabs__Tab {
  padding: 0 10px;
  opacity: 0.5;
  border-top: 1px solid transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.SidebarTabs__Tab--Active {
  background: var(--input-bg-color);
  opacity: 1;
  outline: 1px solid var(--input-border-color);
}

.SidebarTabs:not(:hover) .SidebarTabs__Tab--Active {
  overflow: visible;
}

.SidebarTabs__Tab:hover {
  overflow: visible;
}

.SidebarTabs--Secondary .SidebarTabs__Tab {
  padding-right: 0px;
  flex-grow: 1;
}

.SidebarTabs--Secondary .SidebarTabs__Tab--Active {
  background-color: transparent;
  outline: none;
}

.Sidebar--TwoColumn
  .SidebarColumn
  > div:first-child
  > .SidebarTabs:first-child {
  padding-top: 0px;
}

.Sidebar--TwoColumn
  .SidebarColumn
  > div:first-child
  > .SidebarTabs:first-child
  .SidebarTabs__Container {
  padding-top: 0;
}
