html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  user-select: none;
  caret-color: var(--highlight-color);
}

#App {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App__Content {
  width: 100%;
  height: calc(100% - 38px);
  display: flex;
  flex-direction: row;
}

div::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent;
}

div::-webkit-scrollbar {
  width: 17px;
  height: 17px;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  border-radius: 17px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(180, 180, 180, 0.3);
  border: 4px solid transparent;
  background-clip: content-box;
}

div::-webkit-scrollbar-corner {
  background: var(--main-bg-color);
}
