@import url("./Splash.css");
@import url("./Preferences.css");
@import url("./RTL.css");
@import url("./../components/forms/DirectionPicker.css");
@import url("./../components/forms/CustomPalettePicker.css");
@import url("./../components/forms/InputPicker.css");
@import url("./../components/forms/CustomControlsPicker.css");
@import url("./../components/forms/PaletteSelect.css");
@import url("./../components/forms/ColorSlider.css");
@import url("./../components/editors/Sidebar.css");
@import url("./../components/editors/EditorSidebar.css");
@import url("./../components/assets/FilesSidebar.css");
@import url("./../components/assets/PaletteSidebar.css");
@import url("./../components/assets/ImageViewer.css");
@import url("./../components/assets/MusicViewer.css");
@import url("./../components/world/Actor.css");
@import url("./../components/world/Trigger.css");
@import url("./../components/world/SceneCursor.css");
@import url("./../components/world/Connections.css");
@import url("./../components/world/Scene.css");
@import url("./../components/world/StatusBar.css");
@import url("./../components/world/ToolPicker.css");
@import url("./../components/world/BrushToolbar.css");
@import url("./../components/world/EventHelper.css");
@import url("./../components/world/World.css");
@import url("./../components/world/WorldHelp.css");
@import url("./../components/library/GlobalError.css");
@import url("./../components/library/Toolbar.css");
@import url("./../components/library/Menu.css");
@import url("./../components/library/Forms.css");
@import url("./../components/library/LabelButton.css");
@import url("./../components/library/PageHeader.css");
@import url("./../components/library/PageContent.css");
@import url("./../components/library/Button.css");
@import url("./../components/library/Modal.css");
@import url("./../components/library/GBControlsPreview.css");
@import url("./../components/library/CartPreview.css");
@import url("./../components/library/PaletteBlock.css");
@import url("./../components/library/Alert.css");
@import url("./../components/script/ScriptEventForm.css");
@import url("./../components/script/AddCommandButton.css");
@import url("./../components/script/ScriptEditor.css");
@import url("./../components/script/DialogueReviewScene.css");
@import url("./../components/forms/CollisionMaskPicker.css");

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  user-select: none;
  caret-color: var(--highlight-color);
}

#App {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App__Content {
  width: 100%;
  height: calc(100% - 38px);
  display: flex;
  flex-direction: row;
}

.Rotating {
  animation: Rotating 2s linear infinite;
}

div::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent;
}

div::-webkit-scrollbar {
  width: 17px;
  height: 17px;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  border-radius: 17px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(180, 180, 180, 0.3);
  border: 4px solid transparent;
  background-clip: content-box;
}

div::-webkit-scrollbar-corner {
  background: var(--main-bg-color);
}

@keyframes Rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
