.Splash {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Splash__Tabs {
  display: flex;
  flex-direction: row;
  background: var(--sidebar-bg-color);
  padding: 0px 10px;
  padding-left: 40px;
  user-select: none;
  flex-shrink: 0;
}

.Splash__Tab {
  display: flex;
  padding: 20px 30px;
  position: relative;
  overflow: hidden;
  border: 0;
  border-bottom: 4px solid transparent;
  background: transparent;
  color: var(--main-text-color);
  text-align: left;
  font-size: 20px;
}

.Splash__OpenButton {
  padding: 8px 20px;
  margin: -8px 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border-radius: 4px;
  background: linear-gradient(
    to bottom,
    var(--button-top-color) 0%,
    var(--button-bottom-color) 100%
  );
  border: 1px solid var(--button-border-color);
  border-top: 1px solid var(--button-border-top-color);
  color: var(--button-text-color);
  white-space: nowrap;
  padding: 0px 20px;
  box-sizing: border-box;
  font-weight: normal;
  height: 43px;
}

.Platform__win32 .Splash__OpenButton {
  box-shadow: none;
  border-radius: 2px;
  background: var(--toolbar-button-top-color);
  border-color: var(--toolbar-bottom-color);
}

.Splash__Tab--Active {
  border-bottom: 4px solid var(--highlight-color);
}

.Splash__Tab:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

.Splash__Tab--Button:hover {
  background-color: transparent;
}

.Splash--Blur .Splash__Tab--Active {
  border-bottom: 4px solid #ccc;
}

.Splash__TabOpen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  opacity: 0;
}

.Splash__FlexSpacer {
  display: flex;
  flex-grow: 1;
}

.Splash__Content {
  background: var(--main-bg-color);
  flex-grow: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
}

.Splash__FormGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.Splash__FormGroup label {
  color: #999;
  padding-bottom: 5px;
  user-select: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Splash__FormGroup label input,
.Splash__FormGroup label select {
  margin-top: 5px;
  flex-shrink: 0;
}

.Splash__FormGroup label.Splash__Label--Error {
  color: #e91e63;
}

.Splash__FormGroup input,
.Splash__FormGroup select {
  height: 28px;
  font-size: 16px;
  padding: 5px 10px;
  padding-right: 42px;
  border-radius: 4px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
}

.Splash__FormGroup select {
  height: 40px;
}

.Splash__FormGroup input:focus,
.Splash__FormGroup select:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0px 2px var(--highlight-color);
}

.Splash__InputButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 9px;
  right: 4px;
  border-radius: 2px;
  height: 32px;
  width: 40px;
  user-select: none;
  cursor: default;
}

input.Splash__InputButton {
  opacity: 0;
  padding: 0;
  overflow: hidden;
}

.Splash__InputButton:hover {
  background-color: #e8e7e8;
}

.Splash__InputButton:active {
  background-color: #cdcdcd;
}

.Splash__InputButton svg {
  fill: var(--main-text-color);
}

.Splash__Button {
  float: left;
  text-align: center;
  padding: 10px 20px;
  background-color: var(--highlight-color);
  color: #fff;
  border: 0;
  border-radius: 4px;
  user-select: none;
  font-size: 16px;
}

.Splash__Button--Disabled {
  opacity: 0.5;
}

.Splash--Blur .Splash__Button {
  background-color: #ccc;
}

.Splash__RecentProjects {
  overflow: auto;
}

.Splash__RecentProject {
  padding: 10px;
  margin: 0 -10px;
  border: 0;
  background: transparent;
  color: var(--main-text-color);
  text-align: left;
}

.Splash__RecentProject:hover {
  background: rgba(180, 180, 180, 0.1);
}

.Splash__RecentProject__Name {
  font-size: 18px;
  margin-bottom: 5px;
}

.Splash__RecentProject__Path {
  opacity: 0.3;
}

.Splash__ClearRecent {
  color: var(--highlight-color);
  text-decoration: underline;
  margin: 10px 0;
  border: 0;
  background: transparent;
  text-align: left;
  padding: 0;
}

.Splash__Content a {
  color: var(--highlight-color);
}
