.Splash {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Splash__Tabs {
  display: flex;
  flex-direction: row;
  background: var(--sidebar-bg-color);
  font-size: 20px;
  padding: 0px 10px;
  padding-left: 40px;
  user-select: none;
}

.Splash__Tab {
  display: flex;
  padding: 20px 30px;
  position: relative;
  overflow: hidden;
}

.Splash__Tab--Active {
  border-bottom: 4px solid var(--highlight-color);
}

.Splash--Blur .Splash__Tab--Active {
  border-bottom: 4px solid #ccc;
}

.Splash__TabOpen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  opacity: 0;
}

.Splash__FlexSpacer {
  display: flex;
  flex-grow: 1;
}

.Splash__Content {
  background: var(--main-bg-color);
  flex-grow: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
}

.Splash__FormGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.Splash__FormGroup label {
  color: #999;
  padding-bottom: 5px;
  user-select: none;
}

.Splash__FormGroup label.Splash__Label--Error {
  color: #e91e63;
}

.Splash__FormGroup input,
.Splash__FormGroup select {
  height: 28px;
  font-size: 18px;
  padding: 5px 10px;
  padding-right: 42px;
  border-radius: 4px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
}

.Splash__FormGroup select {
  height: 40px;
}

.Splash__FormGroup input:focus,
.Splash__FormGroup select:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0px 2px var(--highlight-color);
}

.Splash__InputButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 24px;
  right: 4px;
  border-radius: 4px;
  height: 36px;
  width: 40px;
  user-select: none;
  cursor: default;
}

input.Splash__InputButton {
  opacity: 0;
  padding: 0;
  overflow: hidden;
}

.Splash__InputButton:hover {
  background-color: #e8e7e8;
}

.Splash__InputButton:active {
  background-color: #cdcdcd;
}

.Splash__InputButton svg {
  fill: var(--main-text-color);
}

.Splash__Button {
  float: left;
  text-align: center;
  padding: 10px 20px;
  background-color: var(--highlight-color);
  color: #fff;
  border-radius: 4px;
  user-select: none;
}

.Splash__Button--Disabled {
  opacity: 0.5;
}

.Splash--Blur .Splash__Button {
  background-color: #ccc;
}
