:root {
  --highlight-color: #c92c61;

  --toolbar-top-color: #e8e7e8;
  --toolbar-bottom-color: #d1d0d1;
  --toolbar-background-color: #f0f0f0;
  --toolbar-border-color: #abaaab;
  --toolbar-inactive-color: #f6f6f6;
  --toolbar-inactive-border-color: #d1d1d1;
  --toolbar-text-color: #b7babb;

  --toolbar-button-top-color: #fefdfe;
  --toolbar-button-bottom-color: #f1f1f1;
  --toolbar-button-active-top-color: #e4e5e5;
  --toolbar-button-active-bottom-color: #dcdddc;
  --toolbar-button-border-color: #9f9e9e;
  --toolbar-button-border-top-color: #9f9e9e;
  --toolbar-button-shadow-color: #c5c5c5;
  --toolbar-button-text-color: #3b3a3b;
  --toolbar-button-nested-color: #cccccc;

  --button-top-color: #fefdfe;
  --button-bottom-color: #f1f1f1;
  --button-border-color: #c5c5c5;
  --button-border-top-color: #c5c5c5;
  --button-text-color: #3b3a3b;
  --button-light-icon-color: #666666;

  --menu-bg-color: #ffffff;
  --menu-hover-color: #e8e7e8;

  --input-bg-color: #ffffff;
  --input-border-color: #d4d4d4;
  --input-text-color: #3b3a3b;
  --input-active-color: #e8e7e8;
  --input-button-hover-color: #fafafa;

  --main-text-color: #3b3a3b;
  --main-bg-color: #f9f9f9;
  --nav-bg-color: purple;
  --sidebar-bg-color: #f2f2f2;
  --sidebar-border-color: #dadada;
  --sidebar-edge-color: #d0d0d0;

  --script-command-text-color: #3b3a3b;
  --script-command-bg-color: #efefef;
  --script-editor-bg-color: #ffffff;
  --script-review-text-color: #999999;

  --sidebar-hover-color: #e8e7e8;
  --sidebar-selected-color: #cdcdcd;

  --conditional-level1: #b3e5fc;
  --conditional-level2: #ffccbc;
  --conditional-level3: #c8e6c9;
  --conditional-level4: #d1c4e9;

  --script-command-bg-color-alt: #dedede;
  --conditional-level1-alt: #81d4fa;
  --conditional-level2-alt: #ffab91;
  --conditional-level3-alt: #a5d6a7;
  --conditional-level4-alt: #b39ddb;

  --comment-event-color: #dcedc8;
  --comment-event-color-alt: #c5e1a5;
}
