:root {
  --highlight-color: #c92c61;

  --toolbar-top-color: #3e4142;
  --toolbar-bottom-color: #282a2a;
  --toolbar-background-color: #292e2f;
  --toolbar-border-color: #000000;
  --toolbar-inactive-color: #3e4142;
  --toolbar-inactive-border-color: #000000;
  --toolbar-text-color: #b7babb;

  --toolbar-button-top-color: #6a6d6e;
  --toolbar-button-bottom-color: #616364;
  --toolbar-button-active-top-color: #838587;
  --toolbar-button-active-bottom-color: #7a7c7e;
  --toolbar-button-border-color: transparent;
  --toolbar-button-border-top-color: #9f9e9e;
  --toolbar-button-shadow-color: transparent;
  --toolbar-button-text-color: #fbfeff;
  --toolbar-button-nested-color: #444444;

  --button-top-color: #6a6d6e;
  --button-bottom-color: #616364;
  --button-border-color: transparent;
  --button-border-top-color: #9f9e9e;
  --button-text-color: #fbfeff;
  --button-light-icon-color: #999999;

  --menu-bg-color: #000000;
  --menu-hover-color: #282a2a;

  --input-bg-color: #000000;
  --input-border-color: #111111;
  --input-text-color: #b7babb;
  --input-active-color: #383d3e;
  --input-button-hover-color: #151515;

  --main-text-color: #b7babb;
  --main-bg-color: #1d2021;
  --nav-bg-color: purple;
  --sidebar-bg-color: #292e2f;
  --sidebar-border-color: #2e3f44;
  --sidebar-edge-color: #000000;

  --script-command-text-color: #ffffff;
  --script-command-bg-color: #111111;
  --script-editor-bg-color: #1f2323;
  --script-review-text-color: #ffffff;

  --sidebar-hover-color: #282a2b;
  --sidebar-selected-color: #383d3e;

  --conditional-level1: #01579b;
  --conditional-level2: #bf360c;
  --conditional-level3: #1b5e20;
  --conditional-level4: #311b92;
}

.App .CodeMirror {
  background: #304148;
  color: #f8f8f2;
}
.App div.CodeMirror-selected {
  background: rgba(101, 115, 126, 0.33);
}
.App .CodeMirror-line::selection,
.App .CodeMirror-line > span::selection,
.App .CodeMirror-line > span > span::selection {
  background: rgba(101, 115, 126, 0.33);
}
.App .CodeMirror-line::-moz-selection,
.App .CodeMirror-line > span::-moz-selection,
.App .CodeMirror-line > span > span::-moz-selection {
  background: rgba(101, 115, 126, 0.33);
}
.App .CodeMirror-gutters {
  background: #304148;
  border-right: 1px solid #65737e;
}
.App .CodeMirror-guttermarker {
  color: white;
}
.App .CodeMirror-guttermarker-subtle {
  color: #d0d0d0;
}
.App .CodeMirror-linenumber {
  color: #d0d0d0;
}
.App .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
}

.App span.cm-comment {
  color: #65737e;
}
.App span.cm-atom {
  color: #c594c5;
}
.App span.cm-number {
  color: #f99157;
}

.App span.cm-property {
  color: #99c794;
}
.App span.cm-attribute,
.App span.cm-keyword {
  color: #c594c5;
}
.App span.cm-builtin {
  color: #66d9ef;
}
.App span.cm-string {
  color: #99c794;
}

.App span.cm-variable,
.App span.cm-variable-2,
.App span.cm-variable-3 {
  color: #f8f8f2;
}
.App span.cm-def {
  color: #6699cc;
}
.App span.cm-bracket {
  color: #5fb3b3;
}
.App span.cm-tag {
  color: #c594c5;
}
.App span.cm-header {
  color: #c594c5;
}
.App span.cm-link {
  color: #c594c5;
}
.App span.cm-error {
  background: #c594c5;
  color: #f8f8f0;
}

.CodeMirror-activeline-background {
  background: rgba(101, 115, 126, 0.33);
}
.CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
