:root {
  --highlight-color: #c92c61;

  --toolbar-top-color: #3e4142;
  --toolbar-bottom-color: #282a2a;
  --toolbar-background-color: #292e2f;
  --toolbar-border-color: #000000;
  --toolbar-inactive-color: #3e4142;
  --toolbar-inactive-border-color: #000000;
  --toolbar-text-color: #b7babb;

  --toolbar-button-top-color: #6a6d6e;
  --toolbar-button-bottom-color: #616364;
  --toolbar-button-active-top-color: #838587;
  --toolbar-button-active-bottom-color: #7a7c7e;
  --toolbar-button-border-color: transparent;
  --toolbar-button-border-top-color: #9f9e9e;
  --toolbar-button-shadow-color: transparent;
  --toolbar-button-text-color: #fbfeff;
  --toolbar-button-nested-color: #444444;

  --button-top-color: #6a6d6e;
  --button-bottom-color: #616364;
  --button-border-color: transparent;
  --button-border-top-color: #9f9e9e;
  --button-text-color: #fbfeff;
  --button-light-icon-color: #999999;

  --menu-bg-color: #000000;
  --menu-hover-color: #282a2a;

  --input-bg-color: #000000;
  --input-border-color: #111111;
  --input-text-color: #b7babb;
  --input-active-color: #383d3e;
  --input-button-hover-color: #151515;

  --main-text-color: #b7babb;
  --main-bg-color: #1d2021;
  --nav-bg-color: purple;
  --sidebar-bg-color: #292e2f;
  --sidebar-border-color: #2e3f44;
  --sidebar-edge-color: #000000;

  --script-command-text-color: #ffffff;
  --script-command-bg-color: #0a0e0e;
  --script-editor-bg-color: #1f2323;
  --script-review-text-color: #ffffff;

  --sidebar-hover-color: #282a2b;
  --sidebar-selected-color: #383d3e;

  --conditional-level1: #01579b;
  --conditional-level2: #bf360c;
  --conditional-level3: #1b5e20;
  --conditional-level4: #311b92;

  --script-command-bg-color-alt: #101515;
  --conditional-level1-alt: #0277bd;
  --conditional-level2-alt: #d84315;
  --conditional-level3-alt: #2e7d32;
  --conditional-level4-alt: #4527a0;

  --comment-event-color: #8bc34a;
  --comment-event-color-alt: #7cb342;
}
