.EditorSidebar {
  position: fixed;
  width: 300px;
  right: -300px;
  top: 35px;
  bottom: 0px;
  background-color: var(--sidebar-bg-color);
  border-left: 1px solid #d0d0d0;
  overflow: auto;
  overflow-x: hidden;
  padding: 0px;
  box-sizing: border-box;
  transition: right 0.3s ease-in-out;
}

.EditorSidebar--Open {
  right: 0px;
}

.EditorSidebar h2 {
  clear: both;
  height: 36px;
  line-height: 36px;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  /*color: #fff;*/
  /*background-color: #033663;*/
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
  text-align: left;
  padding: 0 10px;
}

.EditorSidebar h2:first-child {
  border-top: 0px solid #dadada;
}

.EditorSidebar label.HalfWidth {
  width: 50%;
}

.EditorSidebar input[type="checkbox"] {
  height: auto;
}

.EditorSidebar input:focus,
.EditorSidebar textarea:focus,
.EditorSidebar select:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px #03a9f4;
}

.EditorSidebar__Save {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.EditorSidebar__Padding {
  padding: 10px;
}
.EditorSidebar__DeleteButton {
  float: right;
  fill: #fff;
}
.EditorSidebar__DeleteButton svg {
  width: 10px;
  height: 10px;
  fill: var(--main-text-color);
}
.EditorSidebar .Checkbox {
  width: auto;
  display: inline-block;
}
