.Menu {
  position: absolute;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 4px 0;
  overflow: auto;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  z-index: 1001;
  font-size: 13px;
  user-select: none;
}

.MenuItem {
  padding: 6px 10px;
}

.MenuItem:hover {
  background-color: #e8e7e8;
  cursor: pointer;
}

.MenuOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
}
