.Scene {
  position: absolute;
  padding-top: 20px;
  /* border-radius: 16px; */
  user-select: none;
  text-align: center;
}

/* .Scene:hover {
  background-color: #011020;
} */

.Scene__Name {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  line-height: 20px;
  color: #ccc;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.Scene__Image {
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  overflow: hidden;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  border: 1px solid #fff;
  image-rendering: pixelated;
}

.Scene--Selected .Scene__Image {
  outline: 2px solid #03a9f4;
}

.Scene--Selected .Scene__Name {
  color: var(--main-text-color);
}

.Scene__Hover {
  position: absolute;
  width: 8px;
  height: 8px;
  outline: 1px solid red;
}

.Scene__Trigger {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 120, 0, 0.5);
  outline: 1px solid rgba(255, 120, 0, 1);
}

.Scene__Trigger--Selected {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 199, 40, 0.8);
  outline: 1px solid rgba(255, 120, 0, 1);
}

.Scene__Collision {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 20, 0, 0.5);
}

.Scene__Ghost {
  opacity: 0.5;
}
