.ToolsSidebar {
  position: fixed;
  width: 36px;
  left: 5px;
  top: 41px;
  /*background-color: #011526;*/
  background-color: var(--sidebar-bg-color);
  border: 1px solid var(--sidebar-edge-color);
  border-radius: 4px;
  padding: 4px 0;
  /*box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);*/
}

.ToolsSidebar__Item {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToolsSidebar svg {
  fill: var(--main-text-color);
  width: 20px;
}

.ToolsSidebar__Item:hover {
  background-color: var(--sidebar-hover-color);
}

.ToolsSidebar__Item--Selected,
.ToolsSidebar__Item--Selected:hover {
  background-color: var(--sidebar-selected-color);
}
