/obj
*.bak
*.dof
*.dsk
*.cfg
*.map
*.sym
*.o
__pycache__
/profile/*.txt
@usage.bat
*.ihx
*.noi
/.vscode
/*.cdb
/build
/test/*.noi
/test/*.sna
/test/*.bmp
/test/*.o
/test/*.asm
/test/*.lst
*.gb
/examples/*/obj
/examples/*/build
/test/*/obj
/test/*/build
/test/*/*.bmp
/third-party/*/build
