.ImageViewer {
  position: fixed;
  right: 300px;
  left: 0px;
  top: 38px;
  bottom: 0px;
  overflow: auto;
}

.ImageViewer__Content {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageViewer__Image {
  background-color: #fff;
}

.ImageViewer__Image img {
  display: block;
  image-rendering: pixelated;
  -webkit-user-drag: none;
}

.ImageViewer__Edit {
  position: fixed;
  top: 48px;
  right: 310px;
}

.ImageViewer__Warning {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 20px;
}

.ImageViewer__Warning ul {
  padding-left: 25px;
  line-height: 1.5;
}
