.MusicViewer {
  /* background: red; */
  /* position: fixed; */
  right: 300px;
  left: 0px;
  top: 38px;
  bottom: 0px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MusicViewer__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MusicViewer__Filename {
  margin-top: 20px;
}

.MusicViewer__Settings {
  margin-top: 20px;
  background-color: var(--sidebar-border-color);
  border-radius: 8px;
  padding: 0px;
}

.MusicViewer__Settings .FormField > label {
  display: flex;
  align-items: center;
}
