.PaletteSidebarWrapper {
  right: 0;
  position: fixed;
  top: 38px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
}

.PaletteSidebarDragHandle {
  width: 16px;
  height: 100vh;
  position: fixed;
  margin-left: -8px;
  cursor: ew-resize;
}

.PaletteSidebar {
  background-color: var(--sidebar-bg-color);
  border-left: 1px solid var(--sidebar-edge-color);
  overflow: auto;
  overflow-x: hidden;
  padding: 0px;
  box-sizing: border-box;
  transition: right 0.3s ease-in-out;
}

.PaletteSidebar__Search {
  display: flex;
  padding: 10px;
}

.PaletteSidebar input {
  border-radius: 4px;
  border: 0px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
  resize: none;
}

.Platform__win32 .PaletteSidebar input {
  border-radius: 2px;
}

.PaletteSidebar__Search .Button {
  margin-left: 5px;
  padding: 5px 12px 5px 12px;
  flex-shrink: 0;
}

.PaletteSidebar__Search svg {
  width: 16px;
  height: 16px;
  fill: var(--button-text-color);
}

.PaletteSidebar input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0px 2px var(--highlight-color);
}

.PaletteSidebar__Group {
  padding-bottom: 0px;
  padding-left: 0px;
  border-top: 1px solid var(--menu-hover-color);
  padding-top: 8px;
  margin-top: 16px;
}

.PaletteSidebar__GroupHeading {
  color: #999;
  cursor: default;
  display: block;
  font-size: 75%;
  font-weight: 500;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: -14px;
  float: left;
  background-color: var(--sidebar-bg-color);
  margin-left: 5px;
  padding-left: 5px;
}

.PaletteSidebar__GroupHeading + .PaletteSidebar__ListItem {
  margin-top: 5px;
}

.PaletteSidebar__ListItem {
  display: flex;
  padding: 6px 10px;
}

.PaletteSidebar__ListItem--Default {
}

.PaletteSidebar__ListItem:hover {
}

.PaletteSidebar__ListItem--Active:hover,
.PaletteSidebar__ListItem--Active {
  background-color: var(--sidebar-selected-color);
}
