.ScriptEditor {
  clear: both;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  background: var(--script-editor-bg-color);
}

.ScriptEditor__Loading {
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  opacity: 0.5;
}

.ScriptEditorEvent {
  position: relative;
  user-select: none;
}

.ScriptEditorEvent__Rename {
  border-bottom: 1px solid var(--sidebar-border-color);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
  position: relative;
}

.ScriptEditorEvent__Content {
  font-size: 12px;
}

.ScriptEditorEvent__Children .ScriptEditorEvent {
  border-left: 1px solid var(--sidebar-border-color);
}

.ScriptEditorEvent__Children
  .ScriptEditorEvent:first-child
  > .ScriptEditorEvent__Content {
  border-top: 1px solid var(--sidebar-border-color);
}

.ScriptEditorEvent__Command {
  display: flex;
  line-height: 16px;
  font-weight: bold;
  padding: 6px 10px;
  padding-right: 35px;
  background: var(--script-command-bg-color);
  color: var(--script-command-text-color);
}

.ScriptEditorEvent:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--script-command-bg-color-alt);
}

.ScriptEditorEvent__Command:hover {
  cursor: move;
}

.ScriptEditorEvent__Command > span {
  margin-right: 5px;
}

.ScriptEditorEvent__Command small {
  margin-left: 4px;
  opacity: 0.6;
  font-weight: normal;
}

.ScriptEditorEvent__Tabs + div {
  padding-top: 0;
}

/* Conditional Level 1 */

.ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level1);
}

.ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level1);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level1);
}

.ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level1-alt);
}

.ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level1-alt);
}

.ScriptEditorEvent--Conditional:nth-child(odd)
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level1-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent__Content
  .FormField
  + .ScriptEditorEvent__Else {
  margin-top: 10px;
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Children
  + .ScriptEditorEvent__Else {
  margin-top: 0;
}

/* Conditional Level 2 */

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level2);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level2);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level2);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level2-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level2-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level2-alt);
}

/* Conditional Level 3 */

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level3);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level3);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level3);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level3-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level3-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level3-alt);
}

/* Conditional Level 4 */

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level4);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level4);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level4);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level4-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level4-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level4-alt);
}

/* Conditional Level 5 */

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level1);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level1);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level1);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level1-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level1-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level1-alt);
}

/* Conditional Level 6 */

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level2);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level2);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level2);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level2-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level2-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level2-alt);
}

/* Conditional Level 7 */

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level3);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level3);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level3);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level3-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level3-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level3-alt);
}

/* Conditional Level 8 */

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level4);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level4);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level4);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEventForm {
  border-left: 10px solid var(--conditional-level4-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command {
  background: var(--conditional-level4-alt);
}

.ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional
  .ScriptEditorEvent--Conditional:nth-child(odd)
  .ScriptEditorEvent__Content
  .ScriptEditorEvent__Else {
  background: var(--conditional-level4-alt);
}

.ScriptEditorEvent--Add {
  border-top: 1px solid var(--sidebar-border-color);
}

.ScriptEditor > .ScriptEditorEvent--Add:first-child {
  border-top: 0;
}

.ScriptEditorEvent__Children > .ScriptEditorEvent--Add:first-child {
  border-top: 1px solid var(--sidebar-border-color);
}

.ScriptEditorEvent__Children > .ScriptEditorEvent--Add {
  border-bottom: 1px solid var(--sidebar-border-color);
}

.ScriptEditorEvent__Dropdown {
  position: absolute;
  top: 0px;
  right: 4px;
  padding: 3px 5px;
}

.ScriptEditorEvent__Else {
  display: flex;
  line-height: 16px;
  font-weight: bold;
  padding: 6px 10px;
  background: #efefef;
  color: var(--script-command-text-color);
  margin-left: -10px;
}

.ScriptEditorEvent__Else svg {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-top: 4px;
  transform: rotate(90deg);
  fill: var(--script-command-text-color);
}

.ScriptEditorEvent__Else--Open svg {
  transform: rotate(180deg);
}

.ScriptEditorEvent__Command svg {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-top: 4px;
  transform: rotate(90deg);
  fill: var(--script-command-text-color);
}

.ScriptEditorEvent__Command--Open svg {
  transform: rotate(180deg);
}

.ScriptEditorEvent--Dragging {
  display: none;
}

.ScriptEditorEvent--Over:before {
  content: "";
  display: block;
  width: 100%;
  height: 38px;
  margin-top: -5px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.ScriptEditorEvent--Over svg {
  display: none;
}

.ScriptEditorEvent--Commented .ScriptEventForm {
  opacity: 0.3;
  z-index: 1;
}

.ScriptEditorEvent--Dragging:before {
  display: none;
}

.ScriptEditorEvent__Children {
  position: relative;
  padding-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
}

.ScriptEditorEvent__ChildrenBorder {
  position: absolute;
  width: 20px;
  top: 0;
  bottom: 0;
  left: -20px;
  background: transparent;
}

.ScriptEventForm + .ScriptEditorEvent__Children {
  padding-top: 0;
}

.ScriptEditorEvent--Conditional
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Children {
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--sidebar-border-color);
}

.ScriptEditorEvent__Args {
  display: inline-block;
}

.ScriptEditorEvent__Arg {
  display: inline-block;
  margin-right: 5px;
}
.ScriptEditorEvent__Arg strong:after {
  content: ":";
}

.ScriptEditorEvent__Arg strong {
}

.ScriptEditorEvent__Form {
  padding: 5px 10px;
}

.ScriptEditorEvent__Form textarea {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  font-family: "Courier New", Courier, monospace;
}

.ScriptEditorEvent__FormRow {
  display: flex;
  margin-bottom: 5px;
}

.ScriptEditorEvent__Flex {
  display: flex;
  align-items: center;
}

.ScriptEditorEvent__Link {
  text-decoration: underline;
}

.EditorSidebar .ScriptEditorEvent__Form label {
  padding: 5px;
  width: auto;
  white-space: nowrap;
}
.EditorSidebar .ScriptEditorEvent__Form input,
.EditorSidebar .ScriptEditorEvent__Form .Select,
.EditorSidebar .ScriptEditorEvent__Form .DirectionPicker__Button {
  margin-top: 0;
}
.ScriptEditorEvent .ScriptEditorEvent__Command.EventComment {
  background: var(--comment-event-color);
}
.ScriptEditorEvent:nth-child(odd)
  > .ScriptEditorEvent__Content
  > .ScriptEditorEvent__Command.EventComment {
  background: var(--comment-event-color-alt);
}
