.ScriptEditor {
  clear: both;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  background: var(--script-editor-bg-color);
}

.ActionMini {
  position: relative;
  user-select: none;
}

.ActionMini__Content {
  font-size: 12px;
  border-bottom: 1px solid var(--sidebar-border-color);
}

.ActionMini__Children .ActionMini {
  border-left: 1px solid var(--sidebar-border-color);
}

.ActionMini__Children .ActionMini:first-child > .ActionMini__Content {
  border-top: 1px solid var(--sidebar-border-color);
}

.ActionMini__Command {
  min-height: 28px;
  line-height: 28px;
  font-weight: bold;
  padding: 0 10px;
  background: var(--script-command-bg-color);
  color: var(--script-command-text-color);
}

.ActionMini__Command:hover {
  cursor: move;
}

/* Conditional Level 1 */

.ActionMini--Conditional {
  border-left: 10px solid var(--conditional-level1);
}

.ActionMini--Conditional > .ActionMini__Content > .ActionMini__Command {
  padding-left: 0px;
  background: var(--conditional-level1);
}

.ActionMini--Conditional > .ActionMini__Content > .ActionMini__Else {
  padding-left: 0px;
  background: var(--conditional-level1);
}

/* Conditional Level 2 */

.ActionMini--Conditional .ActionMini--Conditional {
  border-left: 10px solid var(--conditional-level2);
}

.ActionMini--Conditional
  .ActionMini--Conditional
  > .ActionMini__Content
  > .ActionMini__Command {
  padding-left: 0px;
  background: var(--conditional-level2);
}

.ActionMini--Conditional
  .ActionMini--Conditional
  > .ActionMini__Content
  > .ActionMini__Else {
  padding-left: 0px;
  background: var(--conditional-level2);
}

/* Conditional Level 3 */

.ActionMini--Conditional .ActionMini--Conditional .ActionMini--Conditional {
  border-left: 10px solid var(--conditional-level3);
}

.ActionMini--Conditional
  .ActionMini--Conditional
  .ActionMini--Conditional
  > .ActionMini__Content
  > .ActionMini__Command {
  padding-left: 0px;
  background: var(--conditional-level3);
}

.ActionMini--Conditional
  .ActionMini--Conditional
  .ActionMini--Conditional
  > .ActionMini__Content
  > .ActionMini__Else {
  padding-left: 0px;
  background: var(--conditional-level3);
}

/* Conditional Level 4 */

.ActionMini--Conditional
  .ActionMini--Conditional
  .ActionMini--Conditional
  .ActionMini--Conditional {
  border-left: 10px solid var(--conditional-level4);
}

.ActionMini--Conditional
  .ActionMini--Conditional
  .ActionMini--Conditional
  .ActionMini--Conditional
  > .ActionMini__Content
  > .ActionMini__Command {
  padding-left: 0px;
  background: var(--conditional-level4);
}

.ActionMini--Conditional
  .ActionMini--Conditional
  .ActionMini--Conditional
  .ActionMini--Conditional
  > .ActionMini__Content
  > .ActionMini__Else {
  padding-left: 0px;
  background: var(--conditional-level4);
}

.ActionMini__Children > .ActionMini--Add:first-child {
  border-top: 1px solid var(--sidebar-border-color);
}

.ActionMini__Remove {
  position: absolute;
  top: 0px;
  right: 4px;
  padding: 7px;
  opacity: 0;
  cursor: pointer;
}

.ActionMini__Remove svg {
  width: 9px;
  height: 9px;
  fill: var(--script-command-text-color);
}

.ActionMini:hover > .ActionMini__Content > .ActionMini__Remove {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.ActionMini__Else {
  min-height: 28px;
  line-height: 28px;
  font-weight: bold;
  padding: 0 10px;
  background: #efefef;
  color: var(--script-command-text-color);
}

.ActionMini__Else svg {
  width: 8px;
  height: 8px;
  transform: rotate(90deg);
  fill: var(--script-command-text-color);
}

.ActionMini__Else--Open svg {
  transform: rotate(180deg);
}

.ActionMini--Dragging {
  display: none;
}

.ActionMini--Over:before {
  content: "";
  display: block;
  width: 100%;
  height: 38px;
  margin-top: -5px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.ActionMini--Over svg {
  display: none;
}

.ActionMini--Dragging:before {
  display: none;
}

.ActionMini__Children {
  padding-top: 10px;
}

.ScriptEventBlock + .ActionMini__Children {
  padding-top: 0;
}

.ActionMini--Conditional > .ActionMini__Content > .ActionMini__Children {
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--sidebar-border-color);
}

.ActionMini__Args {
  display: inline-block;
}

.ActionMini__Arg {
  display: inline-block;
  margin-right: 5px;
}
.ActionMini__Arg strong:after {
  content: ":";
}

.ActionMini__Arg strong {
}

.ActionMini__Form {
  padding: 5px 10px;
}

.ActionMini__Form textarea {
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.ActionMini__FormRow {
  display: flex;
  margin-bottom: 5px;
}

.ActionMini__Flex {
  display: flex;
  align-items: center;
}

.ActionMini__Link {
  text-decoration: underline;
}

.EditorSidebar .ActionMini__Form label {
  padding: 5px;
  width: auto;
  white-space: nowrap;
}
.EditorSidebar .ActionMini__Form input,
.EditorSidebar .ActionMini__Form .Select,
.EditorSidebar .ActionMini__Form .DirectionPicker__Button {
  margin-top: 0;
}
