.ScriptEventBlock {
  background: var(--sidebar-bg-color);
  background: var(--script-editor-bg-color);
}

.ScriptEventBlock__InputRow {
  position: relative;
}

.ScriptEventBlock__BtnRow {
  position: absolute;
  right: 9px;
  bottom: 7px;
  display: flex;
}

.ScriptEventBlock__Btn {
  background: rgba(128, 128, 128, 0.3);
  color: var(--main-text-color);
  width: 18px;
  height: 18px;
  text-align: center;
  margin-left: 4px;
  opacity: 0.4;
  border-radius: 2px;
}

.ScriptEventBlock__InputRow:hover .ScriptEventBlock__Btn {
  opacity: 1;
}

.ScriptEventBlock__Btn:hover {
  background: rgba(128, 128, 128, 0.5);
}
