.ScriptEventForm {
  background: var(--sidebar-bg-color);
  background: var(--script-editor-bg-color);
}

.ScriptEventForm__InputRow {
  display: block;
  position: relative;
  margin-bottom: 3px;
}

.ScriptEventForm__InputRow:last-child {
  margin-bottom: 0;
}

.ScriptEventForm__BtnRow {
  position: absolute;
  right: 4px;
  bottom: 4px;
  display: flex;
}

.ScriptEventForm__Btn {
  background: rgba(128, 128, 128, 0.3);
  color: var(--main-text-color);
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-left: 4px;
  opacity: 0.4;
  padding: 0;
  border: 0;
  border-radius: 2px;
}

.ScriptEventForm__Btn svg {
  width: 8px;
  height: 8px;
}

.ScriptEventForm__InputRow:hover .ScriptEventForm__Btn {
  opacity: 1;
}

.ScriptEventForm__Btn:hover, .ScriptEventForm__Btn:focus {
  background: rgba(128, 128, 128, 0.5);
  opacity: 1;
}
