:root {
  --main-text-color: #3b3a3b;
  --main-bg-color: #f9f9f9;
  --nav-bg-color: purple;
  --sidebar-bg-color: #f2f2f2;

  --conditional-level1: #b3e5fc;
  --conditional-level2: #ffccbc;
  --conditional-level3: #c8e6c9;
  --conditional-level4: #d1c4e9;
}
