.Actor {
  position: absolute;
  width: 16px;
  height: 8px;
  background-color: rgba(255, 89, 233, 0.5);
  outline: 1px solid rgba(140, 0, 177, 0.5);
}

.Actor canvas {
  position: relative;
  top: -8px;
}

.Actor--Selected {
  background-color: rgb(255, 89, 233);
  outline: 1px solid rgb(140, 0, 177);
}
