.Actor {
  position: absolute;
  width: 16px;
  height: 8px;
  background-color: rgba(247, 45, 220, 0.5);
  outline: 1px solid rgba(140, 0, 177, 0.8);
  -webkit-transform: translate3d(0, 0, 0);
}

.Actor--Selected {
  background-color: rgba(247, 45, 220, 0.8);
  outline: 1px solid rgba(140, 0, 177, 1);
  z-index: 100;
}

.Actor__ScreenPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 144px;
  pointer-events: none;
  z-index: 100;
  outline: 2000px solid rgba(0, 0, 0, 0.5);
}
