.BrushToolbar__Tile--solid::before {
  content: "";
  display: block;
  background-color: rgb(250, 40, 40);
  height: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.BrushToolbar__Tile--top::before {
  content: "";
  display: block;
  background-color: rgb(40, 40, 255);
  height: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.BrushToolbar__Tile--bottom::before {
  content: "";
  display: block;
  background-color: rgb(255, 255, 40);
  height: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.BrushToolbar__Tile--left::before {
  content: "";
  display: block;
  background-color: rgb(255, 40, 255);
  width: 10px;
  height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.BrushToolbar__Tile--right::before {
  content: "";
  display: block;
  background-color: rgb(40, 255, 255);
  width: 10px;
  height: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.BrushToolbar__Tile--ladder::before {
  content: "";
  display: block;
  width: 10px;
  height: 18px;
  margin-left: 2px;
  margin-top: 2px;
  border-left: 4px solid green;
  border-right: 4px solid green;
}

.BrushToolbar__Tile--ladder::after {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 6px;
  left: 2px;
  top: 4px;
  border-top: 4px solid green;
  border-bottom: 4px solid green;
}

.BrushToolbar__Tile--slope_45_right::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: blue;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

.BrushToolbar__Tile--slope_45_left::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: blue;
  clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
}

.BrushToolbar__Tile--slope_22_right_bot::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: green;
  clip-path: polygon(0% 100%, 100% 50%, 100% 100%);
}

.BrushToolbar__Tile--slope_22_right_top::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: green;
  clip-path: polygon(0% 50%, 100% 0%, 100% 50%);
}

.BrushToolbar__Tile--slope_22_left_bot::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: green;
  clip-path: polygon(0% 100%, 0% 50%, 100% 100%);
}

.BrushToolbar__Tile--slope_22_left_top::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: green;
  clip-path: polygon(0% 50%, 0% 0%, 100% 50%);
}

.BrushToolbar__Tile--slope_67_right_bot::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: fuchsia;
  clip-path: polygon(0% 100%, 50% 25%, 50% 100%);
}

.BrushToolbar__Tile--slope_67_right_top::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: fuchsia;
  clip-path: polygon(50% 75%, 100% 0%, 100% 75%);
}

.BrushToolbar__Tile--slope_67_left_bot::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: cyan;
  clip-path: polygon(100% 100%, 50% 25%, 50% 100%);
}

.BrushToolbar__Tile--slope_67_left_top::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: cyan;
  clip-path: polygon(50% 75%, 0% 0%, 0% 75%);
}

.BrushToolbar__Tile--spare_08::before {
  padding: 3px;
  content: " 8";
}

.BrushToolbar__Tile--spare_09::before {
  padding: 3px;
  content: " 9";
}

.BrushToolbar__Tile--spare_10::before {
  padding: 3px;
  content: " 10";
}

.BrushToolbar__Tile--spare_11::before {
  padding: 3px;
  content: " 11";
}

.BrushToolbar__Tile--spare_12::before {
  padding: 3px;
  content: " 12";
}

.BrushToolbar__Tile--spare_13::before {
  padding: 3px;
  content: " 13";
}

.BrushToolbar__Tile--spare_14::before {
  padding: 3px;
  content: "14";
}
.BrushToolbar__Tile--spare_15::before {
  padding: 3px;
  content: "15";
}
