.SceneCursor {
  position: absolute;
  width: 8px;
  height: 8px;
  outline: 1px solid rgb(140, 150, 156);
  background: rgba(140, 150, 156, 0.4);
  -webkit-transform: translate3d(0, 0, 0);
}

.SceneCursor--Size16px {
  width: 16px;
  height: 16px;
}

.SceneCursor--AddActor {
  width: 16px;
  background-color: rgba(247, 45, 220, 0.5);
  outline: 1px solid rgba(140, 0, 177, 0.8);
  pointer-events: all;
  z-index: 200;
}

.SceneCursor--AddTrigger {
  background-color: rgba(255, 120, 0, 0.5);
  outline: 1px solid rgba(255, 120, 0, 1);
  pointer-events: all;
  z-index: 200;
}

.SceneCursor--Eraser {
  background-color: rgba(255, 0, 0, 0.8);
  outline: 1px solid rgba(255, 0, 0, 1);
  pointer-events: all;
  z-index: 200;
}

.SceneCursor--Collisions {
  background-color: rgba(250, 40, 40, 0.6);
  outline: 1px solid rgba(250, 40, 40, 0.8);
  pointer-events: all;
}

.SceneCursor__AddBubble {
  position: absolute;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  background: var(--highlight-color);
  border-radius: 8px;
  line-height: 12px;
  text-align: middle;
  top: -12px;
  left: -14px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.SceneCursor__AddBubble svg {
  fill: #fff;
  width: 8px;
}

.SceneCursor__Sprite {
  position: absolute;
  top: -8px;
  left: 0px;
}
