.Scene {
  position: absolute;
  padding-top: 20px;
  user-select: none;
  text-align: center;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
}

.Scene:hover {
  background: var(--menu-hover-color);
}

.Scene__Name {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  color: #888;
  line-height: 20px;
  font-size: 11px;
}

.Scene__Info {
  line-height: 20px;
  color: #888;
  opacity: 0;
  font-size: 11px;
  transition: opacity 0.3s ease-in-out;
}

.Scene__Image {
  position: relative;
  background-color: #fff;
  border: 1px solid var(--sidebar-edge-color);
  image-rendering: pixelated;
}

.Scene__Image img {
  -webkit-user-drag: none;
}

.Scene--Selected .Scene__Image {
  outline: 2px solid #03a9f4;
}

.Scene--Selected .Scene__Name {
  color: var(--main-text-color);
}

.Scene--Selected .Scene__Info,
.Scene:hover .Scene__Info {
  opacity: 1;
}

.Scene__Hover {
  position: absolute;
  width: 8px;
  height: 8px;
  outline: 1px solid red;
}

.Scene__Trigger {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 120, 0, 0.5);
  outline: 1px solid rgba(255, 120, 0, 1);
}

.Scene__Trigger--Selected {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 199, 40, 0.8);
  outline: 1px solid rgba(255, 120, 0, 1);
}

.Scene__Ghost {
  opacity: 0.5;
}

.Scene__Collisions {
  position: absolute;
  top: 0;
  left: 0;
}
