.Scene {
  position: absolute;
  padding-top: 20px;
  user-select: none;
  text-align: center;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

.Scene:hover {
  background: var(--menu-hover-color);
}

.Scene--Filtered:after {
  content:"";
  background-color: var(--main-bg-color);
  border-radius: 4px;
  opacity: 0.8;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  pointer-events: none;
}

.Scene__Name {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  color: var(--main-text-color);
  line-height: 20px;
  font-size: 11px;
  transition: padding-left 0.1s ease-in-out, padding-right 0.1s ease-in-out;
  transition-delay: 0.3s;
}

.Scene__Label {
  display: inline;
  padding: 2px 10px;
  border-radius: 32px;
  opacity: 0.8;
}

.Scene__Label--Red {
  background: #e20e2b;
  color: #fff;
}

.Scene__Label--Orange {
  background: #ff5722;
  color: #fff;
}

.Scene__Label--Yellow {
  background: #ffc107;
  color: #000;
}

.Scene__Label--Green {
  background: #4caf50;
  color: #fff;
}

.Scene__Label--Blue {
  background: #03a9f4;
  color: #fff;
}

.Scene__Label--Purple {
  background: #9c27b0;
  color: #fff;
}

.Scene__Label--Gray {
  background: #9e9e9e;
  color: #fff;
}

.Scene__Info {
  line-height: 20px;
  color: #888;
  opacity: 0;
  font-size: 11px;
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out, padding-left 0.1s ease-in-out, padding-right 0.1s ease-in-out;
  transition-delay: 0.3s;  
}

.Scene__Info--Warning {
  color: rgb(243, 168, 30);
}

.Scene__Info--Error {
  color: rgb(243, 0, 0);
}

.Scene__Image {
  position: relative;
  background-color: var(--sidebar-edge-color);
  outline: 1px solid var(--sidebar-edge-color);
  image-rendering: pixelated;
  overflow: hidden;
}

.Scene__Image img {
  -webkit-user-drag: none;
  display: block;
}

.Scene--Selected {
  z-index: 10;
}

.Scene--Selected .Scene__Image {
  box-shadow: 0 0 0px 3px var(--highlight-color);
}

.Scene--Selected .Scene__Label {
  opacity: 1;
}

.Scene--Selected .Scene__Info,
.Scene:hover .Scene__Info {
  opacity: 1;
}

.Scene__Collisions {
  position: absolute;
  top: 0;
  left: 0;
}

.Scene__EventHelper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
