.Scene {
  position: absolute;
  padding-top: 20px;
  user-select: none;
  text-align: center;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}

.Scene:hover {
  background: var(--menu-hover-color);
}

.Scene__Name {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  color: #888;
  line-height: 20px;
  font-size: 11px;
}

.Scene__Info {
  line-height: 20px;
  color: #888;
  opacity: 0;
  font-size: 11px;
  transition: opacity 0.3s ease-in-out;
}

.Scene__Info--Warning {
  color: rgb(243, 168, 30);
}

.Scene__Info--Error {
  color: rgb(243, 0, 0);
}

.Scene__Image {
  position: relative;
  background-color: #fff;
  outline: 1px solid var(--sidebar-edge-color);
  image-rendering: pixelated;
  overflow: hidden;
}

.Scene__Image img {
  -webkit-user-drag: none;
  display: block;
}

.Scene--Selected .Scene__Image {
  box-shadow: 0 0 0px 3px var(--highlight-color);
}

.Scene--Selected .Scene__Name {
  color: var(--main-text-color);
}

.Scene--Selected .Scene__Info,
.Scene:hover .Scene__Info {
  opacity: 1;
}

.Scene__Collisions {
  position: absolute;
  top: 0;
  left: 0;
}

.Scene__EventHelper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
