.StatusBar {
  position: absolute;
  bottom: 16px;
  left: 0px;
  background-color: var(--main-bg-color);
  color: #888;
  font-size: 11px;
  border-top-right-radius: 4px;
  padding: 4px 10px;
  animation: StatusBarFadeIn 0.2s;
}

@keyframes StatusBarFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
