.StatusBar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: var(--sidebar-bg-color);
  border-top: 1px solid var(--sidebar-edge-color);
  border-right: 1px solid var(--sidebar-edge-color);
  border-top-right-radius: 4px;
  padding: 4px 10px;
}
