.ToolPicker {
  position: absolute;
  width: 36px;
  left: 10px;
  top: 10px;
  background-color: var(--sidebar-bg-color);
  border: 1px solid var(--sidebar-edge-color);
  border-radius: 4px;
  padding: 4px 0;
}

.ToolPicker__Item {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToolPicker svg {
  fill: var(--main-text-color);
  width: 20px;
}

.ToolPicker__Item:hover {
  background-color: var(--sidebar-hover-color);
}

.ToolPicker__Item--Selected,
.ToolPicker__Item--Selected:hover {
  background-color: var(--sidebar-selected-color);
}
