.World {
  position: fixed;
  left: 0px;
  right: 300px;
  top: 38px;
  bottom: 0px;
  overflow: auto;
}

.World__Grid {
  position: absolute;
}

.World__Content {
  position: absolute;
  top: 0;
  left: 0;
}

.World__NewScene {
  position: absolute;
  cursor: pointer;
  background-color: rgba(3, 54, 99, 0.5);
  width: 256px;
  height: 256px;
  border-radius: 4px;
}
