.WorldHelp__SceneArrow {
  position: absolute;
  top: 65px;
  left: 53px;
  transform: scaleY(-1);
}

.WorldHelp__SceneLabel {
  position: absolute;
  top: 100px;
  left: 110px;
  width: 150px;
  font-size: 150%;
  color: #808080;
}
