.CollisionMaskPicker {
  width: 100%;
  max-width: 320px;
  display: flex;
}

.CollisionMaskPicker label,
.CollisionMaskPicker label ~ label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 0px;
}

.CollisionMaskPicker label input {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.CollisionMaskPicker__Button {
  flex: 1;
  background: var(--input-bg-color);
  font-size: 10px;
  line-height: 26px;
  text-align: center;
  border: 1px solid var(--input-border-color);
  border-right: 0;
  color: var(--button-text-color);
}

.CollisionMaskPicker__Button:hover {
  background: var(--input-button-hover-color);
}

.CollisionMaskPicker label:first-of-type .CollisionMaskPicker__Button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.CollisionMaskPicker label:last-of-type .CollisionMaskPicker__Button {
  border-right: 1px solid var(--input-border-color);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.CollisionMaskPicker input:focus + .CollisionMaskPicker__Button {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0px 2px var(--highlight-color);
  z-index: 10;
  position: relative;
}

.CollisionMaskPicker__Button--Active,
.CollisionMaskPicker__Button--Active:hover {
  background-color: var(--highlight-color);
  border-color: rgba(128, 128, 128, 0.5);
  color: #fff;
}

.FormField .CollisionMaskPicker > label > input,
.FormField .CollisionMaskPicker > label > div {
  margin-top: 0;
}
