.CustomPalettePicker {
  width: 100%;
  max-width: 1000px;
  margin-top: 10px;
  padding: 20px;
}

.CustomPalettePicker__Colors {
  display: flex;
  margin-bottom: 12px;
}

.CustomPalettePicker label,
.CustomPalettePicker label ~ label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-right: 10px;
  width: 100%;
  flex: 1;
}

.CustomPalettePicker__Button {
  display: flex;
  justify-content: center;
  background: var(--input-bg-color);
  text-align: center;
  border: 1px solid var(--input-border-color);
  color: var(--button-text-color);
  border-radius: 8px;
  max-height: 128px;
  height: 10vh;
  width: 25%;
  margin-right: 10px;
}

.CustomPalettePicker__Button span {
  margin-top: -25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.CustomPalettePicker__Button:hover {
  box-shadow: 0 0 0px 4px var(--input-bg-color);
}

.CustomPalettePicker__Button--Selected,
.CustomPalettePicker__Button--Selected:hover {
  box-shadow: 0 0 0px 4px var(--highlight-color);
}

.CustomPalettePicker__Button--Active,
.CustomPalettePicker__Button--Active:hover {
  background-color: var(--highlight-color);
  border-color: rgba(128, 128, 128, 0.5);
  color: #fff;
}
