.DirectionPicker {
  width: 100%;
  max-width: 320px;
  display: flex;
}

.DirectionPicker label,
.DirectionPicker label ~ label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 0px;
}

.DirectionPicker input:focus + .DirectionPicker__Button {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0px 2px var(--highlight-color);
  z-index: 10;
  position: relative;
}

.DirectionPicker label input {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.DirectionPicker__Button {
  flex: 1;
  background: var(--input-bg-color);
  font-size: 10px;
  line-height: 26px;
  text-align: center;
  border: 1px solid var(--input-border-color);
  border-right: 0;
  color: var(--button-text-color);
}

.DirectionPicker__Button:hover {
  background: var(--input-button-hover-color);
}

.DirectionPicker__Button--Right {
  border-right: 1px solid var(--input-border-color);
}

.DirectionPicker__Button--Left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.DirectionPicker__Button--Right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.DirectionPicker__Button--Active,
.DirectionPicker__Button--Active:hover {
  background-color: var(--highlight-color);
  border-color: rgba(128, 128, 128, 0.5);
  color: #fff;
}

.DirectionPicker__Button svg {
  fill: var(--button-text-color);
  width: 8px;
  height: 8px;
}

.DirectionPicker__Button--Active svg,
.DirectionPicker__Button--Active:hover svg {
  fill: #fff;
}

.DirectionPicker__Button--Left svg {
  transform: rotate(-90deg);
}

.DirectionPicker__Button--Right svg {
  transform: rotate(90deg);
}

.DirectionPicker__Button--Down svg {
  transform: rotate(180deg);
}

.FormField .DirectionPicker > label > input,
.FormField .DirectionPicker > label > div {
  margin-top: 0;
}
