.InputPicker {
  width: 100%;
  /* display: flex; */
}

.InputPicker__Button {
  flex: 1;
  width: 28px;
  height: 28px;
  background: var(--input-bg-color);
  font-size: 10px;
  line-height: 28px;
  text-align: center;
  border: 1px solid var(--input-border-color);
  border-right: 0;
  display: inline-flex;
  width: 25%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--button-text-color);
}

.InputPicker__Button:last-child {
  border-right: 1px solid var(--input-border-color);
}

.InputPicker__Button--Right {
  border-right: 1px solid var(--input-border-color);
  border-top-right-radius: 4px;
}

.InputPicker__Button--A {
  border-bottom-left-radius: 4px;
}

.InputPicker__Button--A,
.InputPicker__Button--B,
.InputPicker__Button--Start,
.InputPicker__Button--Select {
  border-top: 0;
}

.InputPicker__Button:first-child {
  border-top-left-radius: 4px;
}

.InputPicker__Button:last-child {
  border-bottom-right-radius: 4px;
}

.InputPicker__Button--Active,
.InputPicker__Button--Active:hover {
  background-color: var(--input-active-color);
}

.InputPicker__Button svg {
  fill: var(--button-text-color);
  width: 8px;
  height: 8px;
}

.InputPicker__Button--Left svg {
  transform: rotate(-90deg);
}

.InputPicker__Button--Right svg {
  transform: rotate(90deg);
}

.InputPicker__Button--Down svg {
  transform: rotate(180deg);
}
