.InputPicker {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.InputPicker__Row {
  display: flex;
}

.InputPicker label,
.InputPicker label ~ label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 0px;
}

.InputPicker label input {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.InputPicker__Button {
  flex: 1;
  width: 28px;
  height: 28px;
  background: var(--input-bg-color);
  font-size: 10px;
  line-height: 28px;
  text-align: center;
  border: 1px solid var(--input-border-color);
  border-right: 0;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--button-text-color);
}

.InputPicker input:focus + .InputPicker__Button {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0px 2px var(--highlight-color);
  z-index: 10;
  position: relative;
}

.InputPicker__Button:hover {
  background: var(--input-button-hover-color);
}

.InputPicker__Button--Right,
.InputPicker__Button--Select {
  border-right: 1px solid var(--input-border-color);
}

.InputPicker__Button--Right {
  border-right: 1px solid var(--input-border-color);
  border-top-right-radius: 4px;
}

.InputPicker__Button--A {
  border-bottom-left-radius: 4px;
}

.InputPicker__Button--A,
.InputPicker__Button--B,
.InputPicker__Button--Start,
.InputPicker__Button--Select {
  border-top: 0;
}

.InputPicker__Button--Left {
  border-top-left-radius: 4px;
}

.InputPicker__Button--Select {
  border-bottom-right-radius: 4px;
}

.InputPicker__Button--Active,
.InputPicker__Button--Active:hover {
  background-color: var(--highlight-color);
  border-color: rgba(128, 128, 128, 0.5);
  color: #fff;
}

.InputPicker__Button svg {
  fill: var(--button-text-color);
  width: 8px;
  height: 8px;
}

.InputPicker__Button--Active svg,
.InputPicker__Button--Active:hover svg {
  fill: #fff;
}

.InputPicker__Button--Left svg {
  transform: rotate(-90deg);
}

.InputPicker__Button--Right svg {
  transform: rotate(90deg);
}

.InputPicker__Button--Down svg {
  transform: rotate(180deg);
}

.InputPicker__Selection {
  margin-top: 10px;
  min-height: 15px;
}
