.MusicSelect {
  display: flex;
}

.MusicSelect__Preview {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MusicSelect__Preview .Button {
  width: 20px;
}
