/* .SpriteSheetSelect {
  display: flex;
}

.SpriteSheetSelect div:first-child {
  flex-grow: 1;
}

.SpriteSheetSelect__Preview {
  width: 32px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
